@font-face {
  font-family: undertale;
  src: url(./font/determination-reg.ttf);
  font-style: normal;
  font-weight: normal;
  color: var(--rals-color-black);
}

:root {
  --rals-color-primary: #4dcc8e;
  --rals-color-green: #4dcc8e;
  --rals-color-secondary: #fe96e0;
  --rals-color-lightPink: #fe96e0;
  --rals-color-pink: #ff3eb7;
  --rals-color-light: #fff9fe;
  --rals-color-dark: #12151b;
  --rals-color-black: #000;

  --rals-pad-xs: 0.175rem;
  --rals-pad-sm: 0.25rem;
  --rals-pad-md: 0.5rem;
  --rals-pad-lg: 0.75rem;
  --rals-pad-xl: 1rem;

  --rals-fs-xs: 0.75rem;
  --rals-fs-sm: 0.875rem;
  --rals-fs-md: 1rem;
  --rals-fs-lg: 1.125rem;
  --rals-fs-xl: 1.25rem;
  --rals-fs-2xl: 1.5rem;

  --rals-font-family: "undertale";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--rals-font-family);
}

body {
  font-size: 1.3rem;
  background-color: var(--rals-color-black);
  color: var(--rals-color-light);
}

a {
  display: inline-block;
  text-decoration: none;
  text-underline-offset: 4px;

  &:hover {
    text-decoration: underline;
  }
}

.rals-button {
  transition:
    transform 0.03s,
    background-color 0.2s ease;
  &:active {
    transform: translateY(0.6px);
  }
}
