@font-face {
  font-family: undertale;
  src: url(./font/undertale.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

:root {
  --rals-color-primary: #4dcc8e;
  --rals-color-green: #4dcc8e;
  --rals-color-secondary: #fe96e0;
  --rals-color-lightPink: #fe96e0;
  --rals-color-pink: #ff3eb7;
  --rals-color-light: #fff9fe;
  --rals-color-dark: #12151b;
  --rals-font-family: "undertale", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--rals-color-dark);
  color: var(--rals-color-light);
  font-family: var(--rals-font-family);
}

a {
  display: inline-block;
  text-decoration: none;
  text-underline-offset: 4px;

  &:hover {
    text-decoration: underline;
  }
}

.rals-button {
  transition: transform 0.03s, background-color 0.2s ease;
  &:active {
    transform: translateY(0.6px);
  }
}

.rals-group {
  display: flex;
}
